html
{
  margin: 0;
  height: 100%;
}

body
{
    background: url("../IMAGES/STUDENTS_BACKGROUND_1.jpg") top left;
    background-attachment:fixed;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
}

#noteText
{
  font-size: 30px;
  width: 700px;
  background-color: #f3f3f3;
  border:3px solid;
  border-radius: 5px;
  padding-left: 15px;
  position: relative;
  left: 30%;
  margin-top: 1%;
}

#entriesReplace
{
  font-size: 20px;
  background-color: #f3f3f3;
  width: 100px;
  position: absolute;
  top: 197px;
  left: 1.5%;
  padding-left: 10px;
}

.table
{
  font-size: 20px;
  border: 3px solid red;
  background-color: #f3f3f3;
  border:3px solid;
  border-radius: 5px;
  width: 1500px;
  position: relative;
  left: 1.17%;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 40px;
}

span.waves-input-wrapper.waves-effect.waves-light
{
  position: relative;
  top: 0px;
  left: 27%;
}
